form {
  display: flex;
  flex-direction: column; }

h1 {
  color: black; }

h2 {
  color: blanchedalmond; }

ul {
  background-color: burlywood; }

img {
  height: 350px;
  width: 350px; }

ul {
  list-style: none; }
  ul li {
    padding: 15px;
    display: inline-block; }
    ul li a {
      text-decoration: none;
      font-size: 16px;
      color: #444; }
      ul li a:hover {
        background-color: burlywood; }

.boton, .boton--aceptar, .boton--cancelar {
  width: 200px;
  height: 50px;
  background-color: white;
  text-align: center;
  color: black;
  border-radius: 20px;
  border: 1px solid black; }

.boton--aceptar {
  background-color: green;
  color: yellow; }

.boton--cancelar {
  background-color: red;
  color: yellow; }

.box {
  height: 50px;
  width: 500px; }

.btn--twitter {
  background-color: #55acee; }

.btn--facebook {
  background-color: #3a5795; }

.btn--send-mail {
  background-color: #C25E30; }
